<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Meditation Tracker</strong> by <a href="https://alex-bartleynees.github.io/">Alex Bartley Nees 2021</a>. 
    </p>
  </div>
</footer>