<nav class="navbar is-link is-spaced" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img src="/images/buddha.png" width="50" height="50">
    </a>
  </div>

  <div id="navbar" class="navbar-menu is-active">
    <div class="navbar-start">

      <a href="/addUser" class="navbar-item">
        Add User
      </a>


      <a href="/addMeditation" class="navbar-item">
        Add Meditation
      </a>


      <a href="/viewUsers" class="navbar-item">
        View Meditations
      </a>


    </div>
  </div>
</nav>