{{>header}}

<div class="columns">
  <div class="column has-text-centered m-3">
    <h1 class="title is-1">Welcome to Meditation Tracker</h1>
    <p class="subtitle m-2">Track how much time you've spent meditating!</p>
  </div>

</div>