{{>header}}

<div class="column has-text-centered">
  <h1 class="title is-1">Users:</h1>

</div>

<div class="column has-text-centered">
  <p class="subtitle"> Click on User to view Meditation data</p>
</div>

<ul>

  {{#each users}}
  <div class="column has-text-centered">
    <li>
      <a class="button is-success" href="/meditation/{{id}}">
        {{name}}
      </a>
    </li>
  </div>
  {{/each}}

</ul>